*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.*.swp
*.csv
.DS_Store
*.cmake
CMakeCache.txt
test-cnn
*cnn
data/cifar-10-batches-bin/
CMakeFiles
Makefile
.vscode
data/cifar-10*